<header>
  <!-- navigation -->
  <nav class="navbar navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="/">
        <img src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/6227/restaurant-list-logo.png"
          width="30" height="30" class="d-inline-block align-top" alt="記帳本">
        記帳本
      </a>
    </div>
    </div>
  </nav>
  <div class="banner"></div>
</header>

<!-- search bar -->
<div class="function" style="display: flex;">
  <form action="/filter" method="get">
    <select class="input-group-prepend" name="sort" id="filter" onchange="this.form.submit()">
      <option value="">類別</option>
      <option value="name">家居物業</option>
      <option value="name">交通出行</option>
      <option value="name">休閒娛樂</option>
      <option value="name">餐飲食品</option>
      <option value="name">其他</option>
    </select>
  </form>
</div>

<!-- expense list -->