<header>
  <div class="banner"></div>
</header>

<!-- search bar -->
<div class="function" style="display: flex;">
  <form action="/filter" method="get">
    <select class="input-group-prepend" name="filter" id="filter" value="{{ category }}" onchange="this.form.submit()">
      <option value="">類別</option>
      <option value="家居物業" {{#setSelected this.category "家居物業"}} {{/setSelected}}>家居物業</option>
      <option value="交通出行" {{#setSelected this.category "交通出行"}} {{/setSelected}}>交通出行</option>
      <option value="休閒娛樂" {{#setSelected this.category "休閒娛樂"}} {{/setSelected}}>休閒娛樂</option>
      <option value="餐飲食品" {{#setSelected this.category "餐飲食品"}} {{/setSelected}}>餐飲食品</option>
      <option value="其他" {{#setSelected this.category "其他"}} {{/setSelected}}>其他</option>
    </select>
  </form>
</div>

<!-- expense list -->
<ul class="list-group">
  {{#each records}}
  <li class="list-group-item">
    <div class="row">
      <div class="col-auto mr-auto">
        <h4 style="display: inline; vertical-align: middle;">
          {{ this.name }}
        </h4>
      </div>
      <div class="col-auto">
        <a class="btn btn-success" href="./records/{{ this._id }}/edit">edit</a>
        <form action="./records/{{ this._id }}?_method=DELETE" method="POST" style="display: inline;">
          <button class="btn btn-danger" type="submit">delete</button>
        </form>
      </div>
    </div>
  </li>
  {{/each}}
</ul>