<form action="/records" method="POST" style="margin: 20px 20px;">
  <div class="form-row">
    <div class="col-md-4 mb-3">
      <label>名稱*</label>
      <input type="text" class="form-control" placeholder="name" name="name" required>
    </div>
    <div class="col-md-4 mb-3">
      <label>日期*</label>
      <input type="date" class="form-control" placeholder="date" name="date" required>
    </div>
    <div class="col-md-4 mb-3">
      <label>商家名稱</label>
      <input type="text" class="form-control" placeholder="shopname" name="shopname">
    </div>
    <div class="form-group" required>
      <label>類別*</label>
      <select class="custom-select" name="category" required>
        <option value="all" href="/">類別</option>
        <option value="家居物業" {{#setSelected record.category "家居物業"}} {{/setSelected}}>家居物業</option>
        <option value="交通出行" {{#setSelected record.category "交通出行"}} {{/setSelected}}>交通出行</option>
        <option value="休閒娛樂" {{#setSelected record.category "休閒娛樂"}} {{/setSelected}}>休閒娛樂</option>
        <option value="餐飲食品" {{#setSelected record.category "餐飲食品"}} {{/setSelected}}>餐飲食品</option>
        <option value="其他" {{#setSelected record.category "其他"}} {{/setSelected}}>其他</option>
      </select>
    </div>
    <div class="col-md-4 mb-3">
      <label>金額*</label>
      <input type="text" class="form-control" placeholder="amount" name="amount" required>
      <p style="color: red;">{{{ alert }}}</p>
    </div>
  </div>
  <button type="submit" class="btn btn-info">新增支出</button>
  <a href="/" class="btn btn-info">Back</a>
</form>