.navbar {
  overflow: hidden;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  z-index: 1;
}

.function {
  margin-top: 80px;
}

.list-group-item {
  background-color: #30475e !important;
}
.list-group {
  margin-bottom: 20px;
}

h4 {
  color: #f4e04d;
}

h5, h6 {
  color: #f3ecc2;
}

.total-amount {
  color: #e8505b;
}

.btn-success {
  background-color: #c4fb6d;
  color: #393e46;
  border-color: #c4fb6d;
}

.btn-success:hover {
    color: #fff;
    background-color: #87bd31;
    border-color: #87bd31;
}

.fa {
  margin-right: 5px;
}

.form-row {
  margin-top: 80px;
}

@media screen and (max-width: 992px) {
  
  .card img{
    height: 115px;
  }
}

@media screen and (max-width: 768px) {
  
  .restaurant-show-title {
    font-size: 2rem;
  }
}

@media screen and (max-width: 575px) {
  
  .card img{
    height: auto;
  }
  
}
